<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="img/logo.png" type="image/icon type">
    <link rel="stylesheet" href="css/acc.css">
    <title>My Profile</title>
</head>
<body>
    
    
    <% korisnik.forEach (function(kor) {%>
       
      <div class="profile_container">
        <div class="profile">
            <h1>My Profile</h1>
            <div class="logo"><img src="img/logo.png" alt=""></div>
      <div class="profile_name">Ime: <span> <%= kor.ime %></span></div>
      <div class="profile_last_name">Prezime: <span> <%= kor.prezime %> </span></div>
      <div class="profile_email">Email: <span> <%= kor.email %> </span></div>
      <div class="profile_date_brth">Datum rodjenja: <span> <%= kor.datum_rodjenja %> </span></div>
      <div class="profile_username">Username: <span> <%= kor.username %> </span></div>
      <form action="/profil_izmena/<%= kor.id %>" method="GET">
        <button   type="submit" class="btn btn-secondary" > Izmeni Profil </button>
        </form>
      <div class="logout"> <a href="/logout">Logout</a></div> &nbsp;  
    
    </div>    
</div>
      <% }) %>
      <a href="/"><svg class="previous" aria-colspan="previous" xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
      </svg></a>
</body>
</html>