<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Izmena</title>
    <link rel="stylesheet" href="../css/create_article.css">
    <link rel="icon" href="../img/logo.png" type="image/icon type">
</head>
<body>
    <div class="overlay"></div>
    <div class="create_product">
        <p class="create_txt">Izmeni proizvod</p>
        <div class="logo"><a href="/"><img src="../img/logo.png" alt=""></a></div>
        <% product_change.forEach(function(product) { %>        
        <form action="/update_product/:<%= product.id %>" method="POST"  class="product_form">
         
            <input type="text" value="<%= product.ime %>" name="naziv" required placeholder="Naziv Proizvoda" >
           <input type="number" value="<%= product.cena %>" name="cena" placeholder="Cena" >
           <input type="file" name="slika" value="<%=product.slika %>" required >
           <textarea name="opis" cols="30"  rows="10" placeholder="Unesi Opis" required><%= product.opis %></textarea> <br>
           <input type="password" name="id" value="<%= product.id %>" style="display:none" id=""> 
           <input type="submit" value="Izmeni">
            
        </form>
        <% }) %>
    </div>
</body>
</html>
